.main{
    border: dashed 10px  black;
    border-radius: 20px;
    height: 200px;
    width: 550px;
    margin-left: 450px;
    margin-top: 100px;
    padding-left: 40px;
    background-color: rgba(179, 163, 163, 0.973);
}
.head{
    text-align: center;
    color:rgb(3, 75, 75);
    text-decoration: underline ;
    

}
.sub{
    text-align: center;
    font-size: 25px;
    color:rgb(3, 75, 75) ;
    text-decoration: underline;
}
.btn1, .btn2 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(100, 92, 92);;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s; /* For smooth hover effect */
}

.btn1 a, .btn2 a {
    text-decoration: none;
    color: aliceblue;
}

.btn1:hover, .btn2:hover {
    background-color: rgb(3, 75, 75);
    transform: scale(1.1); /* Slightly increase the size */
}
    .btn{
        display: flex;
        justify-content: center;
        gap: 20px; /* Adds space between the buttons */
        

    }